@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


html {
  box-sizing: border-box;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("assets/img/bar.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

::selection {
  background-color:  #e6d319;
  color: #130808;
}

h2 {
  font-size: 1.1em;
  
}

a, a:active, a:visited, a:hover {
  color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
}

#contenedorGeneral {
  margin: auto 1em;
  text-align: center;
}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
  margin-bottom: 0.5em;
  font-family: "Caveat", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

#tituloPagina:hover {
  color: #93e619;
  cursor: pointer;
}

#contenedorPersonaje {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.imagen {
  height: 170px;
  width: 150px;
  margin: 0em auto;
}

#boton {
  font-size: 1.5em;
  background-color:  #e6d319;
  color: black;
  cursor: pointer;
  font-family: "Caveat", system-ui;
}


@media (max-width: 600px) {

body {
  min-height: 100vh;
}
}